

.aLinks {
	margin-right: 15px;
	font-size: 18px;
	color: black;
}
.aLinks:HOVER{
	color: red;
}
.aLinks:VISITED {
	color: black;
}
.aLinks:ACTIVE {
	color: white;
}
.searchingList{
	margin-left: 60%;
}
marquee{
	margin-top: -2px;
}

.homeHeading {
	font-family: Algerian;
	font-size: 40px;
	text-align: center;
	margin-left: 25%;
	text-transform: capitalize;
}
.homeHeading.ajaxSearch {display: inline;}
.ajaxSearch {
	font-size: 12px;
	font-weight: 400;
	float: right;
	margin-top: 12px;
	margin-right: 11%;
	font-family: AR JULIAN, Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	
	border:2px solid #999999;
	width: 25%;
	height: 40%;
	color:#000;
	padding: 7px 15px 7px 15px;
}

.heading {		
	/* background-image: url("../Images/sbad.jpg");*/
	width: auto;
	height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;	
    text-align: center;
    /*background: url(../Images/intro-bg.jpg) no-repeat bottom center scroll;*/
    background-image: url("../Images/clouds.jpg"); 		
    font-family: Algerian;
}

.payBack{
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: #ff6cf8;
	font-family: Algerian;
	text-align: center;
}
.payHeading{
	font-size: 30px;
}
.payTable{
	margin-top: 20px;
	width: 75%;
	text-transform: capitalize;
}

.Welbody {
	background-color: red;
}
.Welheading {	
	margin-top: 20px;
	margin-bottom: 25px;
	color: white;
	font-size: 33px;
	font-family: Castellar;
	text-decoration: underline;
}
.Wel-by {
	font-family: Edwardian Script ITC;
}
.Wel-line{
	font-family: Bodoni MT;
}
.Wel-image {}
.Wel-pic-name {
	font-family: AR JULIAN;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  		/* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.homesec {
	background-color: yellow;
	margin-top: 20px;
	margin-bottom: 30px;
}

a.section {
	font-size: 20px;
	text-transform: capitalize;
	font-family: Stencil;
} 
		.slink:LINK {
			text-decoration: none;
		}
		.slink:VISITED {
			text-decoration: none;
		}
		.slink:HOVER {
			color: #ff3333;
			text-decoration: underline;
			font-size: 22px;
		}
		.slink:ACTIVE {
			color: #66cc00;
			text-decoration: underline;
		}
		.hlink:LINK {
			text-decoration: none;
		}
		.hlink:VISITED {
			text-decoration: none;
		}
		
		.hlink {
			font-size: 14px;
			font-family: Stencil;	
		}
		.hlink:HOVER {
			color: #ff3333;
			text-decoration: underline;
		}
		.hlink:ACTIVE {
			color: #66cc00;
			text-decoration: underline;
		}
		



.btn.login.out {
	font-size: 14;
	font-family: Imprint MT Shadow;
	color: #ccc;
	margin-left: 3%;
    background-color: transparent;
    border-color: #ccc;
}
.btn.login.out:HOVER {
	font-size: 14;
	font-family: Imprint MT Shadow;
	color: #000000;
    background-color: transparent;
    border-color: #ccc;
}


.btn.btn-outline.btn-black {
    color: #333;
    background-color: inherit;
    border-color: #ccc;	
}
.btn.btn-outline.btn-black:HOVER {
    color: #fff;
    background-color: #333;
    border-color: #000000;
	
}

.btn-info.btn-outline {
    color: #fff;
    border-color: #5bc0de; 
}

 
 .welcome-body {
/* 	background-color: pink;	*/	
 	width: auto;
	height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;	
    text-align: center;
    /*background: url(../Images/intro-bg.jpg) no-repeat bottom center scroll;*/
    background-image: url("../Images/wallpaper2.jpg");
    background-color: transparent; 	
}

.welcome-heading {
	margin-top: 2%;
	font-family: Algerian;
	color: red;
	text-decoration: underline;
	font-size: 40px;
	font-weight: bold;	
}

.w-city{
	font-size: 40px;
	text-transform: capitalize;
	font-family: impact;
	color: #00ffff;
}

.wl-city{
	font-family: AR JULIAN;
	color: #00ff80;
	text-decoration: underline;
	font-size: 30px;
	text-transform: capitalize;
}
a.u-home-link{
	font-family: impact;
	color: #ffffff;
	font-size: 28px;
	text-decoration: none;
}
a.u-home-link:HOVER {
	font-family: impact;
	color: #00ffff;
	font-size: 31px;
	text-decoration: underline;
}

a.Logout{
	font-family: Colonna MT;
	color: #ffffff;
	font-size: 24px;
	text-decoration: none;
}

a.Logout:HOVER{
	font-family: Colonna MT;
	color: #00ffff;
	font-size: 28px;
	text-decoration: underline;
	
}



label.lp {
	font-family: Imprint MT Shadow;
	font-size: 30px;	
	margin-top: 9%;
}
.lp-body.adminLoginBody {
		width: auto;
	height: 100%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;	
    text-align: center;
    /*background: url(../Images/intro-bg.jpg) no-repeat bottom center scroll;*/
    background-image: url("../Images/sduLRvf.jpg"); 
	
}
.lp-body {
	width: auto;
	height: 100%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;	
    text-align: center;
    /*background: url(../Images/intro-bg.jpg) no-repeat bottom center scroll;*/
    background-image: url("../Images/eQrAcPj.jpg");     
 }
 
.msgerr {
	font-size: 	18px;
	margin-top: 2%;
	margin-bottom: 3%;
}

.datecn {
	font-size: 15;
	margin-top: 1%;
}

.note-lp {
	font-size: 16;
	font-family: Imprint MT Shadow;
	color: red;
	margin-top: 1%;
}
	
	
		.link:LINK {
			color: white;
			text-decoration: none;
		}
		.link:VISITED {
			color: white;
			text-decoration: none;
		}
		.link:HOVER {
			color: #ff0033;
			text-decoration: underline;
		}
		.link:ACTIVE {
			color: #00cc00;
			text-decoration: underline;
		}
	
	a.reg{
		font-family: Imprint MT Shadow;
		margin-right: 12px;
		color: white;
		font-size: 18px;
	}
	a.admin{
		font-family: Imprint MT Shadow;
		margin-left: 12px;
		color: white;
		font-size: 18px;
	}



.input-uname {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #999999;
	padding:1px;
	width:165px;
	color:#000;
	padding-left:10px;
}

.lp-input-pass{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #999999;
	padding:1px;
	width:165px;
	color:#000;
	padding-left:10px;
}

.input-city {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #999999;
	padding:1px;
	width:165px;
	color:#000;
	padding-left:10px;	
	margin-left: 8px;	
}

	#uname {
		font-size: 16;
		font-family: Imprint MT Shadow;
		margin-right: 8px;
	}
	#pass {
		font-size: 16;	
		font-family: Imprint MT Shadow;
		margin-right: 10px;
	}
	#city {
		font-size: 16;	
		font-family: Imprint MT Shadow;
		margin-right: 40px;
	}
	
.regn-body {
	background-color: lightgreen;
}	

table.regn-table {
	table-layout: auto;	
	margin-top: 50px;
	border-top-color: green;
		 
}

.regn-reqms{
	margin-top: 50px;
}

.regn-input-pass {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #999999;
	padding:1px;
	width:165px;
	color:#000;
	padding-left:10px;
	margin-left: 5px;	
}

.ln{
	font-size: 23px;
	font-weight: bold;
}
.ln.out {	font-size: 20px;}
		.ln:LINK {
			color: #ffffff;
			text-decoration: none;
		}
		.ln:VISITED {
			color: #ffffff;
			text-decoration: none;
		}
		.ln:HOVER {
			color: #80ffff;
			text-decoration: underline;
			font-size: 25px;
		}
		.ln:ACTIVE {
			color: #ff1717;
			text-decoration: underline;
		}


.adminhome {
	font-family: AR JULIAN;
}

.adminoperations {
	font-size: 20px;	
}
.adminHomeButton {
	margin-top: 50px;
	margin-bottom: 50px;
}

.adminHomepage {
	width: auto;
	height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;	
    text-align: center;
    /*background: url(../Images/intro-bg.jpg) no-repeat bottom center scroll;*/
    background-image: url("../Images/Xulubox.jpg"); 	
}



.productheading {
	margin-top: 20px;
	margin-bottom: 20px;
	color: red;
	font-size: 35px;
	font-family: Impact;	
	text-transform: capitalize;
}

.productsTable{
	text-transform: capitalize;
	width: 80%;
	text-align:center;
	font-family: Poor Richard;
	margin-bottom: 3%;
}
